/* General */
body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  overflow: hidden; /* Prevents scrolling */
}

/* Container */
.contents {
  position: relative;
  width: 100%;
}

/* Upper Section */
.upper-section {
  position: absolute;
  display: flex;
  top: 58px;
  left: 13%;
  align-items: center;
  gap: 20px;
  max-width: 500px;
  width: 90%;
  z-index: 4; /* ensures it’s above overlay */
}

.company-logo {
  width: 181px;
  height: 62px;
  object-fit: contain;
  display: inline-block;
}

.talent,
.join {
  position: absolute;
  display: flex;
  font-weight: 400;
  font-size: 25px;
  width: 500px;
  top: 6%;
}

.talent {
  color: #000000;
  left: 180%;
  
}

.join {
  color: #FFB13D;
  left: 263%;
  cursor: pointer;
}

.join:hover {
  text-decoration: underline;
}

.mask-group {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.image-wrapper {
  position: relative;
}

.page-image {
  position: relative;
  display: inline-block;
  z-index: 2;
  top: 243px;
  right: 100px;
}

.image-background {
  position: absolute;
  display: inline-block;
  right: 0;
  top: 165px;
  z-index: 1;
}

.forgotten-password {
  position: absolute;
  display: flex;
  width: 393px;
  height: 64px;
  top: 212px;
  left:17%;
  font-family: 'Inter';
  font-size: 40px;
  font-weight: 700;
  color: #000000;
}

.talent-email {
  position: absolute;
  display: flex;
  width: 393px;
  height: 15px;
  top: 280px;
  left:18%;
  font-family: 'Inter';
  font-size: 12px;
  font-weight: 400;
  color: #000000;
}

.enter-code {
  position: absolute;
  display: flex;
  width: 508px;
  height: 54px;
  top: 330px;
  left:13%;
  border-width: 1px;
  border-style: solid;
  background: #D9D9D9;
  padding-left: 15px;
  border-radius: 10px;
  border: none;
}

.enter-code::placeholder {
  font-family: 'Inter';
  font-size: 12px;
  font-weight: 300;
  color: #000000;
}

.continue-button {
  position: absolute;
  display: flex;
  width: 525px;
  height: 54px;
  border-radius: 10px;
  top: 410px;
  border: none;
  font-family: 'Inter';
  font-size: 16px;
  background-color: #1800AD;
  left: 13%;
  color: #FFFFFF;
  font-weight: 500;
  cursor: pointer;
  justify-content: center;    /* centers text horizontally */
  align-items: center;
}

.no-code {
  position: absolute;
  display: flex;
  width: 251px;
  height: 15px;
  left: 22%;
  top: 470px;
  font-size: 12px;
  font-weight: 400;
  font-family: 'Inter';
  color: #000000;
}